body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background: #f1f1f1;
  }

  caption {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
  }
  table, td {
    border: 1px dotted purple;
    font-size: 16px;
    border-collapse: collapse;
  }

  .thead {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
  }

  .thead td {
      text-align: center;
      padding: 10px;
  }

  .tbody-tr td {
      padding: 5px;
      margin: 5px;
  }

  .tbody-tr:nth-child(odd) {
    background-color: #a9a9a9;
    
    
  }

  .tbody-tr:nth-child(even) {
    background-color: whitesmoke;
  }

  .tbody-tr td:nth-child(2) {
    text-align: center;
  }

  .tbody-tr td:nth-child(3) {
    text-align: center;
  }